body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.box {
  background-color: #292929;
  width: 220px;
  height: 220px;
  margin: 60px auto;
  border-radius: 15px;
  box-shadow: 0 0 25px #555;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
